<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/CSS/globals.css" />
    <link rel="stylesheet" href="../static/CSS/stylede.css" />
  </head>
  <body>
    <div class="data-engineer">
      <div class="frame-wrapper">
        <div class="frame">
          <p class="data-engineer-c-ng">
            <span class="text-wrapper">Data Analyst<br /></span>
            <span class="span">Công ty Công nghệ thông tin HTH<br /><br /><br /><br /></span>
          </p>
          <p class="a-i-m-h-ng-y-n-m-c-l">
            <span class="text-wrapper-2">Địa điểm: </span>
            <span class="text-wrapper-3">Nghệ An<br /></span>
            <span class="text-wrapper-2">Mức lương: </span>
            <span class="text-wrapper-3">15,000,000 - 50,000,000<br /></span>
            <span class="text-wrapper-2">Ngành: </span>
            <span class="text-wrapper-3">Data<br /><br /></span>
            <span class="text-wrapper-4"
              • Thu thập dữ liệu từ các nguồn: database, báo cáo, API,...<br />
              • Làm sạch và xử lý dữ liệu bằng SQL, Excel, hoặc Python.<br />
              • Phân tích xu hướng, mối tương quan, KPI, hiệu suất...<br />
              • Trực quan hóa dữ liệu qua biểu đồ, dashboard (Power BI, Tableau, Looker,...).<br />
              • Viết báo cáo phân tích cho bộ phận kinh doanh, marketing, sản phẩm,...<br />
              • Tạo mô hình phân tích đơn giản (forecast, cohort, segmentation). <br />
              • Tương tác với Data Engineer để đảm bảo dữ liệu đầy đủ và chính xác.<br />
              • Thành thạo SQL để truy xuất và xử lý dữ liệu.<br />
              • Kỹ năng phân tích dữ liệu bằng Excel, Python (Pandas/Matplotlib) hoặc R.<br />
              • Biết sử dụng các công cụ BI: Power BI, Tableau, Google Data Studio,...<br />
              • Hiểu cơ bản về thống kê mô tả, xác suất, KPI.<br />
              • Tư duy logic, nhạy bén với số liệu, có khả năng kể chuyện bằng dữ liệu.<br />
          </span>
            >
          </p>
          <div class="div">
             <a href="dsvieclam.html">
               <button class="quay-li"><div class="chi-ti-t">Quay lại</div></button>
             </a>
             <a href="cv.html">
               <button class="ti-CV"><div class="chi-ti-t">Tải CV</div></button>
             </a>
             <a href="chatbot.html">
              <button class="phng-vn-o"><div class="chi-ti-t">Phỏng vấn ảo</div></button>
             </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
