<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="stylede.css" />
  </head>
  <body>
    <div class="data-engineer">
      <div class="frame-wrapper">
        <div class="frame">
          <p class="data-engineer-c-ng">
            <span class="text-wrapper">Data Engineer<br /></span>
            <span class="span">Công ty Công nghệ thông tin NDD<br /><br /><br /><br /></span>
          </p>
          <p class="a-i-m-h-ng-y-n-m-c-l">
            <span class="text-wrapper-2">Địa điểm: </span>
            <span class="text-wrapper-3">Hưng Yên<br /></span>
            <span class="text-wrapper-2">Mức lương: </span>
            <span class="text-wrapper-3">25,000,000 - 50,000,000<br /></span>
            <span class="text-wrapper-2">Ngành: </span>
            <span class="text-wrapper-3">Data<br /><br /></span>
            <span class="text-wrapper-4"
              >Thiết kế và triển khai pipeline xử lý dữ liệu (ETL/ELT).<br />Kết nối và thu thập dữ liệu từ nhiều nguồn
              (database, API, file log, cloud,...).<br />Làm sạch, chuyển đổi (transform), và chuẩn hóa dữ liệu.<br />Quản
              lý hệ thống lưu trữ dữ liệu lớn (Data Lake, Data Warehouse như BigQuery, Snowflake,...).<br />Đảm bảo dữ
              liệu chính xác, ổn định, có thể mở rộng.<br />Làm việc với các công cụ như Apache Spark, Kafka, Airflow,
              DBT,...<br />Viết script xử lý dữ liệu bằng Python, SQL hoặc Scala.<br />Hỗ trợ Data Analyst và Data
              Scientist truy cập dữ liệu hiệu quả.<br />Thành thạo SQL, hiểu cấu trúc dữ liệu và cách tối ưu truy
              vấn.<br />Có kinh nghiệm với xử lý dữ liệu lớn (big data): Hadoop, Spark,...<br />Biết lập trình bằng
              Python (hoặc Java/Scala).<br />Hiểu về các hệ quản trị cơ sở dữ liệu (PostgreSQL, MySQL,
              MongoDB,...).</span
            >
          </p>
          <div class="div">
            <button class="quay-li"><div class="chi-ti-t">Quay lại</div></button>
            <button class="ti-CV"><div class="chi-ti-t">Tải CV</div></button>
            <button class="phng-vn-o"><div class="chi-ti-t">Phỏng vấn ảo</div></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
