<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inMentor - Giới thiệu</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/CSS/globals.css" />
    <link rel="stylesheet" href="../static/CSS/styleguide.css" />
    <link rel="stylesheet" href="../static/CSS/styleweb.css" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/CSS/globals.css" />
    <link rel="stylesheet" href="../static/CSS/styleguide.css" />
    <link rel="stylesheet" href="../static/CSS/styleweb.css" /> -->
  </head>
  <body class="bg-[#f6fbff] text-[#222] font-sans">
    <!-- Navbar -->
    <nav class="flex items-center justify-between max-w-8xl mx-auto px-6 py-6 bg-white shadow-sm">
      <div class="text-4xl font-bold text-[#1d7ed6] mr-8">inMentor</div>
      <ul class="flex space-x-6 font-medium text-xl">
        <li>
          <a href="trangchu" class="hover:text-[#1d7ed6]">Trang chủ</a>
        </li>
        <li>
          <a href="trangweb" class="hover:text-[#1d7ed6]">Về chúng tôi</a>
        </li>
        <li>
          <a href="pvan" class="hover:text-[#1d7ed6]">Phỏng vấn AI</a>
        </li>
        <li>
          <a href="dsvieclam" class="hover:text-[#1d7ed6]">Danh sách việc làm</a>
        </li>
        <li>
          <a href="#" class="hover:text-[#1d7ed6]">Feedback</a>
        </li>
        <li>
              <a href="#" onclick="redirectToUser()">Tài khoản</a>
            </li>
      </ul>
    </nav>

    <div class="trang-gii-thiu">
      <div class="div">
        <div class="overlap scroll-animation">
          <div class="frame">
            <p class="n-n-t-ng-AI-luy-n-t">
              Nền tảng AI<br />luyện tập<br />phỏng vấn
            </p>
          </div>
          <p class="text-wrapper">inMentor giúp bạn tự tin chinh phục hành trình sự nghiệp</p>
          <div class="div-wrapper">
            <a href="trangchu" class="text-wrapper-2">Khám phá ngay</a>
          </div>
        </div>
        <img class="bussinessman image-animation" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/bussinessman.png" />
        <div class="frame-2">
          <div class="text-wrapper-3 scroll-animation">Về chúng tôi</div>
          <p class="t-i-inmentor-ch-ng-t scroll-animation">
            <span class="span">Tại inMentor, chúng tôi hiểu rằng quá trình<br />tìm việc và phỏng vấn có thể gặp rất nhiều khó khăn . Được xây dựng bởi những người trẻ, chúng tôi mang đến một nền tảng thông minh, giúp ứng viên tự tin chinh phục công việc ước mơ</span>
            <span class="span">. Hãy cùng inMentor chinh phục hành trình sự nghiệp theo cách của bạn!</span>
          </p>
          <img class="image" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/image-2.png" />
          <p class="t-nh-n-ng-n-i-b-t">
            <span class="text-wrapper-4">Tính năng nổi bật</span> <span class="text-wrapper-5">&nbsp;</span>
          </p>
          <div class="t-tin-phng-vn">
            <img class="micro" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/micro--1--1.png" />
            <p class="t-tin-ph-ng-v-n">
              <span class="text-wrapper-6">Tự tin phỏng vấn</span> <span class="text-wrapper-7">&nbsp;</span>
            </p>
          </div>
          <div class="t-tin-phng-vn-2">
            <img class="handshake" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/handshake-1.png" />
            <p class="p">Kết nối nhà tuyển dụng</p>
          </div>
          <div class="t-tin-phng-vn-3">
            <img class="checklist" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/checklist--1--1.png" />
            <p class="text-wrapper-8">Đánh giá dựa trên tiêu chuẩn</p>
          </div>
          <div class="t-tin-phng-vn-4">
            <img class="analysis" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/analysis-1.png" />
            <div class="text-wrapper-9">Phân tích dữ liệu</div>
          </div>
          <img class="project" src="https://c.animaapp.com/mapprrj6Z7GtPX/img/project.png" />
          <p class="t-ng-quan-d-n">
            <span class="text-wrapper-10">Tổng quan dự án</span> <span class="text-wrapper-11">&nbsp;</span>
          </p>
          <div class="overlap-group scroll-animation">
            <div class="frame-wrapper">
              <div class="frame-3">
                <div class="text-wrapper-12">Giới thiệu</div>
              </div>
            </div>
            <p class="text-wrapper-13">inMentor là nền tảng ứng dụng Al, cung cấp hệ thống đào tạo toàn diện, từ việc mô phỏng phỏng vấn chuyên sâu, đánh giá gợi ý JD và CV, tìm hiểu công việc, định hướng lộ trình học tập và thăng tiến. Trong đó, phản hồi được cá nhân hóa cho từng ứng viên, ngoài ra cung cấp nguồn nhân lực chất lượng đã qua sàng lọc cho các doanh nghiệp và tổ chức.</p>
          </div>
          <div class="overlap-2 scroll-animation">
            <div class="frame-4">
              <div class="frame-5">
                <div class="text-wrapper-14">Chúng tôi là ai</div>
              </div>
            </div>
            <p class="text-wrapper-15">Đội ngũ in Mentor gồm các thành viên trẻ, hoạt động trong nhiều lĩnh vực như kỹ thuật và kinh tế. Với phương châm cống hiến hết mình, chúng tôi luôn mang trong mình tinh thần nhiệt huyết và nỗ lực không ngừng để đạt được mục tiêu. Là những người trẻ đam mê học hỏi và phát triển, chúng tôi cam kết theo đuổi sứ mệnh của mình để biến inMentor thành một công cụ hữu ích, mang lại giá trị cao cho cộng đồng sinh viên, người lao động và nhà tuyển dụng.</p>
          </div>
          <div class="overlap-group-2 scroll-animation">
            <div class="frame-wrapper">
              <div class="frame-3">
                <div class="text-wrapper-16">Mục tiêu</div>
              </div>
            </div>
            <p class="text-wrapper-17">Với tầm nhìn dài hạn, inMentor chú trọng xây dựng quan hệ đối tác chiến lược với các trường đại học và cơ sở giáo dục, tiến xa hơn là kết nối đến các nhà tuyển dụng nhằm giúp cho sinh viên có thể tự đánh giá và hiểu rõ năng lực của bản thân. đồng thời hướng tới việc trang bị thêm những kỹ năng thiết yếu trước khi bước vào thị trường lao động.</p>
          </div>
          <div class="overlap-3 scroll-animation">
            <div class="frame-6">
              <div class="text-wrapper-18">Giá trị mang lại</div>
            </div>
            <p class="text-wrapper-19">inMentor hứa hẹn sẽ là nền tảng hỗ trợ phát triển sự nghiệp cho hàng triệu người lao động Việt Nam, giúp họ vượt qua thiếu hụt về định hướng, kinh nghiệm và kỹ năng phỏng vấn. Với thị trường tiềm năng 14,75 triệu người, inMentor kết nối nguồn nhân lực chất lượng với doanh nghiệp, tối ưu hóa quy trình tuyển dụng và phù hợp với văn hóa tuyển dụng trong nước, vượt trội so với giải pháp quốc tế.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/JS/script.js"></script>
  </body>
</html>
