:root {
  --m3-display-small-font-family: "Roboto", Helvetica;
  --m3-display-small-font-weight: 400;
  --m3-display-small-font-size: 36px;
  --m3-display-small-letter-spacing: 0px;
  --m3-display-small-line-height: 44px;
  --m3-display-small-font-style: normal;
}
